pkgbase = visual-studio-code-bin
	pkgdesc = Visual Studio Code (vscode): Code Editing. Refined.
	pkgver = 1.77.0
	pkgrel = 1
	url = https://github.com/louielchen/aur/tree/main/pkgs/visual-studio-code-bin
	install = code.install
	arch = x86_64
	license = custom: commercial
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	depends = lsof
	depends = shared-mime-info
	depends = xdg-utils
	depends = alsa-lib
	optdepends = glib2: Needed for move to trash functionality
	optdepends = libdbusmenu-glib: Needed for KDE global menu
	optdepends = org.freedesktop.secrets: Needed for settings sync
	optdepends = icu69: Needed for live share
	provides = code
	provides = vscode
	conflicts = code
	source = code.desktop
	source = code-workspace.xml
	source = code-url-handler.desktop
	source = code.sh
	sha256sums = 55f8e7dc1848013f5e66e072b2f21d6a11619875ec0609ca478b3bfa3e6f6fad
	sha256sums = f7be73b8773d01ca8d97f4760d43175c533a492b0acdc1e49be63bbe567ed3c0
	sha256sums = 567e8374e221ea78706f12e9061b0a60b3b9df7784e3f235ea1026d2ac5d4454
	sha256sums = 0bb7e9fd4a7262812d799bc5e8c646e794498dc42c4204474ae0a8d3818eabbf
	source_x86_64 = code_x64_1.77.0.tar.gz::https://update.code.visualstudio.com/1.77.0/linux-x64/stable
	sha256sums_x86_64 = a8d841d3aa65ea3daaaae2262dba46b54e14e5ee163bfe82acf903735a1835c9

pkgname = visual-studio-code-bin
